{% extends 'base.html.twig' %}

{% block title %}Acheter{% endblock %}

{% block body %}

    <div class="row responsive_pay_cart mt-4">
        <div class="col-8 img_remerciement"></div>
        <div class="col-4 title_pay_cart">
            <h1>Confirmez votre commande</h1>
            <h3>Commande 1234567</h3>
        </div>
    </div>

     
    <ul>
        {# {% for item in items %}
            <li>
                <img src="{{ item.product.images[2].url }}" alt="Cover"><br>
                <strong><p>{{ item.product.name }} </p></strong>
                {% for artist in item.artists %}
                    <p>{{ artist.name }} </p>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for item in items %}
            <li>
                Quantité = {{ item.quantity }}
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for item in items %}
            <li>
                {{ item quantity * item.price }}
            </li>
        {{ endfor }} #}
    </ul>
    

{% endblock %}
