{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    <h1 class="title_view_cart mt-4">Votre Panier :</h1>

    {% if items | length > 0 %}
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>Albums</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td> <strong>{{ item.product.name }}</strong> - {{ item.product.artists[0].name }}</td>
                        <td>5,99€</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.quantity * 5.99 }}€</td>
                        <td>
                            <a href="{{ path('cart_remove', {id:item.product.id}) }}" class="btn btn-danger btn-sm"> <i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right"> <strong>Total :</strong></td>
                    <td><strong>{{ total }} €</strong></td>                   
                </tr>   
            </tfoot>
        </table>
            
            <a href="{{ path('store') }}" class="btn btn-primary btn-sm">Continuer vos achats</a>
            <a href="{{ path('pay_cart') }}" class="btn btn-success btn-sm">Commander</a>

    {% else %}
        <section class="container_view_cart mt-4">
            <div class="background_view_cart">
                <div class="overlay_view_cart">
                    <div class="row responsive_panier_vide">
                        <div class="col-12 title_view_cart_h2 mt-3">
                            <img class="logo_smiley" src="{{ asset('assets/images/smiley_choquer.png') }}" alt="logo d'un smiley choquer">
                            <h2>Surprise, c'est vide !</h2>
                            <a href="{{ path('store') }}" class="btn btn-primary mt-5">Faire ses achats</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
