{% extends 'base.html.twig' %}

{% form_theme formulaire 'bootstrap_5_layout.html.twig' %}

{% block title %}Zikrit{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-2"></div>
            <div class="col-8 text-center mt-4">
                <h1>{% if modeEdition %} Modifiez votre critique 
                        {% else %}
                        Envoyez votre critique
                    {% endif %}
                </h1>
                <h4 class="mt-5">Tout d'abord, veuillez rechercher un album</h4>
                <form action="{{ path('search', {id: 0}) }}">
                    <label for="search" class="sr-only"></label>
                    <input class="form-control-sm none" type="text" name="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-primary btn-sm none" type="submit">Rechercher</button>
                </form>
            </div>
        <div class="col-2"></div>
    </div>

    {# <div class="row">
        <div class="col-3"></div>
            <div class="col-6">
    
    {{ form_start(formulaire) }}

        {{ form_row(formulaire.content, {'attr': {'placeholder': 'Ecrivez ici votre critique de musique'}}) }}
        {{ form_row(formulaire.rating) }}
            
        <div class="button">
            <button class="btn btn-primary" type="submit">Enregistrer 
                {% if modeEdition %} les modifications {% endif %}
            </button>
        </div>

    {{ form_end(formulaire) }}

            </div>
        <div class="col-3"></div>
    </div> #}

{% endblock %}
