{% extends 'base.html.twig' %}

{% block title %}Zikrit{% endblock %}

{% block body %}
    <section class="start">
        <div class="background_critics">
            <div class="overlay_critics">
                <div class="container_title">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="title anim_title mb-5">Zikrit</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center" data-aos="zoom-in" data-aos-duration="3000" data-aos-delay="2100">
                            <h2 class="title_welcome mt-5">vous souhaite la bienvenue.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
    </section>

    <div class="row justify-content-center">
        <div class="col-8">
            <hr>
            <h3 id="critics_title" class="text-center critic_title">Les critiques de musique</h3>
        </div>
    </div>

    <div class="container flex-nowrap">
        <div class="row responsive_card">
            {% for critic in critics|reverse %}
            <div class="col-4 responsive_width">
                <div class="card m-4 shadow rounded">
                    <img src="{{ critic.album.images[0].url }}" alt="Cover">
               
                    <div class="card-body">
                        <div class="comment">
                            <p>
                            {{ critic.content[:100] ~ '..'}}
                            </p>
                        </div>
                         {# Debut partie rating #}
                        <p class="fw-bold {% if critic.rating <= 4 %} text-danger 
                        {% elseif  critic.rating <= 7 %} text-warning
                        {% elseif  critic.rating > 7 %} text-success
                        {% endif %} ">
                            {% if critic.rating == 0 %}
                                {% for i in 1..10 %}
                                    <i class="far fa-star"></i>
                                {% endfor %}
                                {% elseif critic.rating == 10 %}
                                    {% for i in 1..10 %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                {% else %}
                                    {# Boucle Etoiles pleines #}
                                    {% for i in 1..critic.rating %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                    {# Boucle Etoiles vides #}
                                    {% for i in 1..10-critic.rating %}
                                        <i class="far fa-star"></i>
                                    {% endfor %}
                            {% endif %}
                        </p>
                        {# Fin partie rating #}
                        <div class="user d-flex justify-content-between">
                            <p class="fst-italic">{{ critic.user.username[:15 ] ~ '...' }}</p>
                            <p class="fst-italic">Le {{ critic.createdAt | date("d/m/Y à H:i") }}</p>
                        </div>
                        
                        <hr>
                            
                        <div class="fonction">
                            <div class="like_dislike">
                                {% include 'partials/like_critics.html.twig' with {"like" : critic.getLikeBy(app.user)} %}
                            </div>
                            <a class="btn btn-primary btn-sm" href="{{ path('view_critic', {id:critic.id}) }}">Lire ...</a>
                        </div>                                
                    </div>
                </div>
            </div>
            {% endfor %}   
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/javaScript/like.js') }}"></script>
{% endblock %}

