{% extends 'base.html.twig' %}

{% block title %}Zitics{% endblock %}

{% block body %}

  <div class="card" style="width: 100%;">
    <img src="https://source.unsplash.com/1024x200" class="card-img-top" style="max-height:200px" alt="...">
    <div class="card-body">
      <h3 class="card-title">Nom de l'artiste</h3>
      <h5 class="card-author">{{ critic.user.username }}</h5>
      <p class="card-text">{{ critic.content }}</p>
      <p class="card-text">{{ critic.createdAt | date("d/m/Y") }}</p>

      {# Debut partie rating #}
      <p>Note : {{ critic.rating }} / 10 
        {% if critic.rating == 0 %}
            {% for i in 1..10 %}
                <i class="far fa-star"></i>
            {% endfor %}
            {% elseif critic.rating == 10 %}
                {% for i in 1..10 %}
                    <i class="fas fa-star"></i>
                {% endfor %}
            {% else %}
                {# Boucle Etoiles pleines #}
                {% for i in 1..critic.rating %}
                    <i class="fas fa-star"></i>
                {% endfor %}
                {# Boucle Etoiles vides #}
                {% for i in 1..10-critic.rating %}
                    <i class="far fa-star"></i>
                {% endfor %}
        {% endif %}
      {# Fin partie rating #}

      <a href="{{ path('critics_index') }}" class="btn btn-secondary">Retour à l'accueil</a>

    </div>
  </div>

  <div class="border">

    {% if critic.commentaries|length == 0 %}
    <hr>
    <p><strong>Il n'y a pas de commentaires</strong></p>
    {% else %}
    {% for commentaire in critic.commentaries %}
    <hr>
        <br>
        <p>Auteur du commentaire : {{ commentaire.user.username }}</p>
        <p>Votre commentaire : {{ commentaire.content }}</p>
        <div class="like_dislike">
            {% include 'partials/like_commentary.html.twig' with {"like" : commentaire.getLikeBy(app.user)} %}
        </div>


        <hr>
        {% if app.user %}
        <a href="{{ path('delete_commentary', {id:commentaire.id}) }}" class="btn btn-danger">Supprimer le commentaire</a>
        {% endif %}
      {% endfor %}
    {% endif %}
</div>

<div class="border">

  {% if app.user %}
    {{form_start(formulaire)}}

      {{ form_row(formulaire.content) }}

      <button type="submit" class="btn btn-success">Envoyer</button>

    {{form_end(formulaire)}}

  {% else %}
    <p>Veuillez vous connecter pour laisser un commentaire</p>
    <a href="{{ path('login') }}" class="btn btn-success">Connexion</a>
  {% endif %}
</div>


{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/javaScript/like.js') }}"></script>
{% endblock %}

