{% extends 'base.html.twig' %}

{% block title %}Zictics{% endblock %}

{% block body %}
    <h1>Musicotheque</h1>
    <hr>
    <h3>Les albums</h3>
    <div class="row">
        {% for album in albums %}
            <div class="card shadow" style="width: 15rem;">
                <img src="{{ album.images[1].url }}" class="card-img-top pt-2" alt="Cover">
                    <div class="card-body">
                        <h5 class="card-title">
                        {% for artist in album.artists %}
                            <strong>{{ artist.name }}</strong>
                        {% endfor %}<br>
                        {{ album.name }}
                        </h5>
                        <p class="card-text">Sortie le {{ album.release_date }}</p>
                        <a href="#" class="btn btn-success">Acheter</a>
                    </div>
            </div>
        {% endfor %}
            <div class="card shadow" style="width: 15rem;">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <form method="post" class="">
                            <button type="submit" class="btn btn-warning btn-lg" name="offset" value="offset">
                                Voir plus
                            </button>
                        </form>
                    </div>
            </div>
    </div>
    <h3>Dernieres sorties</h3>
    <div class="row">
        {% for new in newReleases %}
            <div class="card shadow" style="width: 15rem;">
                <img src="{{ new.images[1].url }}" class="card-img-top pt-2" alt="Cover">
                    <div class="card-body">
                        <h5 class="card-title">
                        {% for artist in new.artists %}
                            <strong>{{ artist.name }}</strong>
                        {% endfor %}<br>
                        {{ new.name }}
                        </h5>
                        <p class="card-text">Sortie le {{ new.release_date }}</p>
                        <a href="#" class="btn btn-success">Acheter</a>
                    </div>
            </div>
    {% endfor %}
    </div>
    
    


{% endblock %}
