{% extends 'base.html.twig' %}

{% block title %}Zikrit{% endblock %}

{% block body %}
    {% include 'partials/research.html.twig' %}

    {% include 'partials/lateral_bar.html.twig' %}
    
    <h3 class="title_h3">Les albums :</h2>
    
    <div class="card-body d-flex justify-content-start align-items-center px-5">
        <a href="{{ path('search', {id:id, search: app.request.query.get('search') }) }}" class="btn btn-warning btn-lg">
            Voir plus
        </a>
        {% if id < 0 %}
            <p>Page: {{id}}</p>
        {% endif %}
    </div>



    <div class="container flex-nowrap">
        <div class="row responsive_card_store">      
            {% for album in albums %}

                <div class="card m-2 shadow" style="width: 15rem;">
                    <img src="{{ album.images[0].url }}" class="card-img-top pt-2" alt="Cover">
                        <div class="card-body">
                            <h5 class="card-title">
                            {% for artist in album.artists %}
                                <strong>{{ artist.name }}</strong>
                            {% endfor %}<br>
                            {{ album.name }}
                            </h5>
                            <p class="card-text">Sortie le {{ album.release_date }}</p>
                            <div class="container_link">
                                <div class="overlay_link">
                                    <div class="text_link">
                                        <div class="logo_card_link">
                                            <a href="{{ path('view_album', {id:album.id})}}"><img class="logo_loupe" src="{{ asset('assets/images/loupe.png') }}" width="64px" height="64px" alt="logo d'une loupe"></a>
                                            <a href="{{ path('cart_add', {id:album.id}) }}"><img class="logo_caddie" src="{{ asset('assets/images/panier.png') }}" width="64px" height="64px" alt="logo d'un caddie"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="card-body d-flex justify-content-start align-items-center px-5">
                    <a href="{{ path('search', {id:id, search: app.request.query.get('search')}) }}" class="btn btn-warning btn-lg">
                        Voir plus
                    </a>
                    {% if id < 0 %}
                    <p>Page: {{id}}</p>
                    {% endif %}
                </div>
    
    
    


{% endblock %}
