{% extends 'base.html.twig' %}

{% block title %}Zictics{% endblock %}

{% block body %}
    <h1>Musicotheque</h1>
    <hr>
    <div class="container d-flex justify-content-around">
        <a href="{{ path('store') }}">Dernières sorties</a>
        <a href="{{ path('search', {id:0}) }}">Les albums</a>
        <a href="{{ path('categories')}}">Les catégories</a>
        <form method="post">
            <input type="text" placeholder="Rechercher un album">
        </form>
    </div>
    <br>
    <h3>Les catégories</h3>

    <div class="container d-flex flex-wrap">

                {% for zik in category %}
            <div class="card shadow" style="width: 15rem;">
                <img src="{{ zik.images[1].url }}" class="card-img-top pt-2" alt="Cover">
                    <div class="card-body">
                        <h5 class="card-title">
                        {% for artist in new.artists %}
                            <strong>{{ artist.name }}</strong>
                        {% endfor %}<br>
                        {{ zik.name }}
                        </h5>
                        <p class="card-text">Sortie le {{ zik.release_date }}</p>
                        <a href="#" class="btn btn-success">Voir</a>
                    </div>
            </div>
        {% endfor %}

    </div>
    
    


{% endblock %}
