{% extends 'base.html.twig' %}

{% block title %}Zikrit{% endblock %}

{% block body %}

    <section class="container_store mb-5">
        <div class="background_view">
            <div class="overlay_store">
                <div class="row">
                    <div class="col-12 title_store text-center mt-4">
                        <h1>Musicotheque</h1>
                    </div>
                </div>
                
                <div class="row responsive_store">
                    <div class="col-6 lien_store">
                        <ul>
                            <li>
                                <a href="{{ path('store') }}">Dernières sorties</a>
                            </li>
                            <li>
                                <a href="{{ path('search', {id:0}) }}">Les albums</a>
                            </li>
                            <li>
                                <a href="{{ path('categories')}}">Les catégories</a>
                            </li>   
                        </ul>
                    </div>
                    <div class="col-6 text-center">
                        <form method="post">
                            <button class="btn btn-primary btn-sm btn_nav_scroll" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                            aria-controls="offcanvasRight">Rechercher rapide</button>

                            <input class="form-control-sm none" type="text" name="paramFilter" placeholder="Rechercher un album" aria-label="Search">
                            <button class="btn btn-primary btn-sm none" type="submit">Search</button>
                        </form>
                    </div>
                </div>    
            </div>
        </div>
    </section>

    <!-- NAV BAR LATERAL DROITE -->

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h4 id="offcanvasRightLabel"><img class="logo_guitare me-2" src="{{ asset('assets/images/guitar_64px.png') }}" width="40px" height="40px" alt="logo d'une guitar"> Zikrit</h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">   
            <nav class="sidebar">
                <ul class="nav flex-column" id="nav_accordion">
                    <div class="lien_nav_scroll">
                        <ul>
                            <li>
                                <a href="{{ path('store') }}">Dernières sorties</a>
                            </li>
                            <li>
                                <a href="{{ path('search', {id:0}) }}">Les albums</a>
                            </li>
                            <li>
                                <a href="{{ path('categories')}}">Les catégories</a>
                            </li>   
                        </ul>
                    </div>
                    <h6>Recherche simplifier :</h6>
                    <li class="nav-item">
                        <div class="input-group">
                            <select class="form-select" id="inputGroupSelect02">
                                <option selected>Categories</option>
                                <option value="1">Pop</option>
                                <option value="2">Rock</option>
                                <option value="3">RnB</option>
                                <option value="3">Classique</option>
                                <option value="3">Jazz</option>
                            </select> 
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="input-group">
                            <select class="form-select" id="inputGroupSelect02">
                                <option selected>Album</option>
                                <option value="1">Title Album</option>
                                <option value="2">Title Album</option>
                                <option value="3">Title Album</option>
                                <option value="3">Title Album</option>
                                <option value="3">Title Album</option>
                            </select> 
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="input-group">
                            <select class="form-select" id="inputGroupSelect02">
                                <option selected>Titre</option>
                                <option value="1">Title Titre</option>
                                <option value="2">Title Titre</option>
                                <option value="3">Title Titre</option>
                                <option value="3">Title Titre</option>
                                <option value="3">Title Titre</option>
                            </select> 
                        </div>
                    </li>

                    <li class="nav-item">
                        <p class="p_price">Prix :</p>
                        <div class="box">
                            <div class="slider">
                                <input type="range" min="0" max="50" value="10" id="range">
                            </div>
                            <span id="demo">€</span>
                        </div>
                    </li>

                    <li class="nav-item">
                        <div class="text-center mt-3">
                            <button class="btn btn-primary btn-sm" type="button">Search</button> 
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container_view">
        <div class="row responsive_view">
            <div class="col-8">
                <h3 class="text-center">Les albums</h3>
                <div class="p_artist_album_name">
                    {% for artist in album.artists %}
                        <p>Artiste : <strong>{{ artist.name }}</strong></p>
                        <p>Nom album : <strong> {{ album.name }}</strong></p>
                    {% endfor %}
                </div>
                    <p class="card-text">Sortie le {{ album.release_date }}</p>
                    <p class="card-text"> {{ album.copyrights[0].text }}</p>
            </div>
            <div class="col-4 image_view">
                <img src="{{ album.images[0].url }}" class="" alt="Cover">
                
                    
            </div>
        </div>
    </div>


























            <div class="d-flex flex-wrap flex-direction: column px-3 ">
                {% for preview in album.tracks.items %} 
                    <div class="px-2">
                        <strong><h6>{{ preview.name }}</h6></strong>
                        <audio controls src="{{ preview.preview_url }}"></audio>
                    </div>
                {% endfor %}
            </div>
                
        </div>
    </div>
    
    


{% endblock %}
