{% extends 'base.html.twig' %}

{% block title %}Zikrit{% endblock %}

{% block body %}

    <section class="container_store mb-5">
        <div class="background_view">
            <div class="overlay_store">
                <div class="row">
                    <div class="col-12 title_store text-center mt-4">
                        <h1>Musicothèque</h1>
                    </div>
                </div>
                
                <div class="row responsive_store">
                    <div class="col-6 lien_store">
                        <ul>
                            <li>
                                <a href="{{ path('store') }}">Dernières sorties</a>
                            </li>
                            <li>
                                <a href="{{ path('search', {id:0}) }}">Les albums</a>
                            </li>
                            <li>
                                <a href="{{ path('categories')}}">Les catégories</a>
                            </li>   
                        </ul>
                    </div>
                    <div class="col-6 text-center">
                        <form action="{{ path('search', {id: 0}) }}">
                            <button class="btn btn-primary btn-sm btn_nav_scroll" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                            aria-controls="offcanvasRight">Recherche rapide</button>
                            <label for="search" class="sr-only"></label>
                            <input class="form-control-sm none" type="text" name="search" placeholder="Rechercher" aria-label="Search">
                            <button class="btn btn-primary btn-sm none" type="submit">Rechercher</button>
                        </form>
                    </div>
                </div>    
            </div>
        </div>
    </section>

    {% include 'partials/lateral_bar.html.twig' %}

    <div class="container_view">
        <div class="row responsive_view">
            <div class="col-8 text_card_view">
                <h3 class="text-center">L'album :</h3>
                <div class="p_artist_album_name">
                    {% for artist in album.artists %}
                        <p>Artiste : <strong>{{ artist.name }}</strong></p>
                        <p>Nom album : <strong> {{ album.name }}</strong></p>
                    {% endfor %}
                </div>
                <div class="p_date_copyright">
                    <p class="card-text">Sortie le {{ album.release_date }}</p>
                    <p class="card-text"> {{ album.copyrights[0].text }}</p>
                </div>
            </div>
            <div class="col-4 image_view">
                <img src="{{ album.images[0].url }}" class="" alt="Cover">      
            </div>
        </div>
    </div>

    <div class="table-responsive-md mt-5">
        <table class="table table-striped table-hover">
            <thead class="table_center">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Music</th>
                </tr>
            </thead>
            <tbody class="table_center ">
                {% for preview in album.tracks.items %}
                    <tr>
                        <td><strong><h6>{{ preview.name }} : </h6></strong></td>
                        <td><audio controls src="{{ preview.preview_url }}"></audio></td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
