{% extends 'base.html.twig' %}
{% form_theme formulaire 'bootstrap_5_layout.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block body %}

    {{form_start(formulaire)}}

        <div class="container_register">
			<div class="background_register">
				<div class="overlay_register">
					<div class="bloc_central_register m-5">
						<h1 class="title_register">Inscription :</h1>
						
							<div class="row responsive_button_register">
								<div class="col-md-2"></div>
									<div class="col-md-4">
										{{form_row(formulaire.lastname)}}
									</div>
									<div class="col-md-4">
										{{form_row(formulaire.firstname)}}
									</div>
								<div class="col-md-2"></div>
								
								<div class="col-md-2"></div>
									<div class="col-md-4 mb-1">
										{{form_row(formulaire.username)}}
									</div>
									<div class="col-md-4 mt-3">
										{{form_row(formulaire.birthday)}}
									</div>
								<div class="col-md-2"></div>
							
								<div class="col-md-2"></div>
									<div class="col-md-8">
										{{form_row(formulaire.email)}}
									</div>
								<div class="col-md-2"></div>

								<div class="col-md-2"></div>
									<div class="col-md-4">
										{{form_row(formulaire.password)}}
									</div>
									<div class="col-md-4">
										{{form_row(formulaire.passwordConfirm)}}
									</div>
								<div class="col-md-2"></div>
		
								<div class="col-12 mt-3 d-flex justify-content-center">
									<button type="submit" class="btn btn-primary">S'inscrire</button>
								</div>
							</div>
						
					</div>
				</div>
			</div>
		</div>
        
    {{form_end(formulaire)}}

{% endblock %}